@model Product

@section Scripts{
    <script>
        $(document).ready(function () {

            showComments();

            function showComments() {
                $.ajax({
                    url: "/Product/GetCommnetsByProduct",
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                        let commentsWrapper = $("#comments");
                        data.forEach((item, index) => {
                            commentsWrapper.append(`
                                <div class="card my-2">
                                    <div class="card-header">
                                        `+ item.customerName + ` 
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">`+ item.comment + ` </p>
                                    </div>
                                </div>`)
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        });
    </script>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><b>Quantity:</b> @Model.Quantity</p>
        <p class="card-text"><b>Quantity:</b> @Model.Price</p>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Comments</h6>
        <div id="comments"></div>
    </div>
</div>


