@model Product

@section Scripts{
    <script>
        $(document).ready(function () {
            document.getElementById("addComment").addEventListener("click", () => {
                let comment = document.getElementById("comment").value;
                if (comment == "") {
                    alert("Comment is not empty!");
                    return;
                }

                $.ajax({
                    url: "/Product/AddCommentToProduct",
                    type: "POST",
                    data: {"comment":comment},
                    success: function (isSucces) {
                        if (isSucces) {
                            showComments();
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
                console.log(comment);
            });

            showComments();

            function showComments() {
                $.ajax({
                    url: "/Product/GetCommnetsByProduct",
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                        let commentsWrapper = $("#comments");
                        if(commentsWrapper.children().get().length > 0){
                            commentsWrapper.empty();
                        }
                        data.forEach((item, index) => {
                            commentsWrapper.append(`
                                <div class="card my-2">
                                    <div class="card-header">
                                        `+ item.customerName + ` 
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">`+ item.comment + ` </p>
                                    </div>
                                </div>`)
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        });
    </script>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><b>Quantity:</b> @Model.Quantity</p>
        <p class="card-text"><b>Quantity:</b> @Model.Price</p>
    </div>
    <div class="card-footer">
        <div class="form-floating">
            <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
            <label for="comment">Comments</label>
        </div>
        <button id="addComment" type="button" class="btn btn-primary mt-2">Add Comment</button>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Comments</h6>
        <div id="comments"></div>
    </div>
</div>


