@section Scripts{
    <script>
        $(document).ready(() => {

            $("#saveProduct").on("click", (e) => {
                const product = {
                    "name": "Computer",
                    "price": 12000,
                    "quantity": 5,       
                };

                const form = new FormData();

                Object.entries(product).forEach(([key, value]) => {
                    form.append(key,value);
                });

                $.ajax({
                    type: "POST",
                    url: "/Product/InsertProduct",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: (data) => {
                        console.log(data);
                    },
                    error: (e) => {
                        console.log("Erorr occured: " + e);
                    }
                });
            });
        });
    </script>
}

<div class="save-product-wrapper">
   <button id="saveProduct" type="button" class="btn btn-primary">Save Product</button>
</div>
